<%-include("./partials/header")%>
<style>
   .koye  {
        color: black;
    }
 


</style>
<h2><%= detailed.name %> for sales</h2>
<div class="koye">
    <div class="showpage">
        <div class="slider">
                <div>
                    <img src="<%= detailed.image[0] %>" alt="<%= detailed.name %> 1" height="auto" width="100%"/>
                    <img src="<%= detailed.image[1] %>" alt="<%= detailed.name %> 2" height="auto" width="100%"/>
                    <img src="<%= detailed.image[2] %>" alt="<%= detailed.name %> 3" height="auto" width="100%"/>
                </div>
                <div class="navigation-button">
                    <span class="dot active" onclick="changeSlide(0)"></span>
                    <span class="dot" onclick="changeSlide(1)"></span>
                    <span class="dot" onclick="changeSlide(2)"></span>

                </div>
                <script src="myjs.js"> </script>
        </div>
            
        <div class="descp">
                <p><%= detailed.description %></p>
                <p><%= detailed.price %></p>
                <em>submitted by </em><a href="/user/<%=detailed.author.id%>"><strong> <%=detailed.author.username.toUpperCase()%> </strong></a>
                <%=detailed.author.phone%>
                
            <div class="control-button">
                <%if(currentUser && detailed.author.id.equals(currentUser._id) || currentUser && currentUser.isAdmin){%>
                    <a href="/<%= detailed.id%>/edit"><button id="button-float" class="edit-button">Edit</button></a>
                    <form action="/<%= detailed.id%>" method="POST">
                        <button id="button-float" class="delete-button">Delete</button>
                    </form>
                <%}%>
                
            </div>
        </div>    
           
    </div>
    
    <div class="comment-session">
        <button class="frontBtn"><a href="/<%=detailed.id%>/comment/new">Add comment</a></button>
    
       <%detailed.comments.forEach(function(comment){%>
        <div class="comment-block">
            <b><p class="comment-link">
                <a href="/user/<%=comment.author.id%>"><%=comment.author.username%>:</a>
            </p></b>
            <p><%=comment.post%></p>

            <div class="control-button">
                <%if(currentUser && comment.author.id.equals(currentUser._id) || currentUser && currentUser.isAdmin){%>
                    <a href="/<%=detailed.id%>/comment/<%=comment._id%>/edit"><button class="edit-button">Edit</button></a>

                        <form action="/<%=detailed.id%>/comment/<%=comment._id%>?_method=delete" method="POST">
                            <button class="delete-button">Delete</button>
                        </form>
                <%}%>
                
            </div>
        </div>

        
            
        <%});%>
    
    </div>
    
</div>
