<%-include("./partials/header")%>
<h2>list of all the available notification</h2>

    <%allNotification.forEach(function(newUpload){%>
        <ul>
            <%if(newUpload.post.username){%>
                <li><a href="/notifications/<%=newUpload.id%>"><%=newUpload.post.username%> Uploaded new product for sales</a></li>
            <%}else if(newUpload.comment.username){%>
                <li><a href="/notifications/com/<%=newUpload._id%>"><%=newUpload.comment.username%> commented on your post</a></li>
        <%}%>
            </ul>
        
    <%})%>
