<%- include("../partials/header")%>
<div class="category">
<p>
        We are open for business all across the nation, 
        if you have any farm product to display for sales, 
        kindly click the "add to store" button below for your product's display and expect a call to action in some moment later
    </p>
    <div class="add-new">
        <button><a href="/addnew">Add to Food</a></button>
        <p>List of the available agrocommodities for sales</p>
    </div>
    <div class="general-content">
    <%food.forEach(function(eat){%>
        <div class="content">
            <a href="/<%=eat._id%>">
                <img height="auto" width="100%" src="<%= eat.image[0]%>" alt="<%=eat.name%>"/>
                <div class="content-desc">
                    <h1><%=eat.name%></h1>
                    <p><%=eat.description%></p>
                </div>
                <button class="frontBtn">See more</button>
            </a>
            
        </div>
        
    <%})%>
</div>
</div>
    